/* SM Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* MD Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .options-area .opt.mg-top{
        margin-top: 0px;
    }
}

/* LG Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #home-carousel .carousel-item{
        height: 440px;
    }
    .options-area .opt{
        min-width: auto;
    }
}

/* XL Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }